@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");


:root {
  --color-red: hsl(14, 86%, 42%);
  --color-red-dark: hsl(14, 86%, 35%);
  --color-green: hsl(159, 69%, 38%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  --font-family-body: "Red Hat Text", sans-serif;
}

@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/static/RedHatText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/static/RedHatText-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/static/RedHatText-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-rose-50);
  color: var(--color-rose-900);
  font-family: var(--font-family-body);
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.app-container {
  max-width: 1215px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 900px) {
  .app-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .products-section {
    flex: 1;
  }

  .cart-section {
    width: 380px;
  }
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.cart-section {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-red);
  margin-bottom: 1.5rem;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
}

.cart-empty p {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-rose-500);
  margin-top: 1rem;
}
